<footer class="footer">
  <div class="footer__socials">
    <a href="https://youtu.be/eVnAELJogww?si=yFm07ot0MIgw1SoB" target="_blank" rel="noreferrer">Twitter</a>
    <a href="https://youtu.be/HMYtagecwKg?si=nCiH8ib7-nUHGt-o" target="_blank" rel="noreferrer">Instagram</a>
    <a href="https://youtu.be/kXeYSZQlFnQ?si=GSPU9gheGEhoMkpf" target="_blank" rel="noreferrer">LinkedIn</a>
  </div>
  <div class="footer_version">
    <p>Erglytics v0.5.1</p>
  </div>
  <div class="footer__links">
    <a href="https://youtu.be/W6g7mtGAtTc?si=3GhPpwxsCsRWK4xX" target="_blank" rel="noreferrer">Help</a>
    <a href="https://youtu.be/38d8cprGBvs?si=Ta2a0sEeShHT4Sv8" target="_blank" rel="noreferrer">Resources</a>
    <a href="https://github.com/nwisnie/Rowlytics" target="_blank" rel="noreferrer">GitHub</a>
  </div>
</footer>
