<footer class="footer">
  <div class="footer__socials">
    <a aria-disabled="true">Twitter</a>
    <a aria-disabled="true">Instagram</a>
    <a aria-disabled="true">LinkedIn</a>
  </div>
  <div class="footer_version">
    <p>Erglytics v1.0.0</p>
  </div>
  <div class="footer__links">
    <a href="{{ url_for('public.help_page') }}">Help</a>
    <a href="https://github.com/nwisnie/Erg-lytics/tree/main/doc" target="_blank" rel="noreferrer">Resources</a>
    <a href="https://github.com/nwisnie/Rowlytics" target="_blank" rel="noreferrer">GitHub</a>
  </div>
</footer>
