<footer class="footer">
  <div class="footer__socials">
    <a href="" target="_blank" rel="noreferrer">Twitter</a>
    <a href="" target="_blank" rel="noreferrer">Instagram</a>
    <a href="" target="_blank" rel="noreferrer">LinkedIn</a>
  </div>
  <div class="footer_version">
    <p>Erglytics v0.6.2</p>
  </div>
  <div class="footer__links">
    <a href="" target="_blank" rel="noreferrer">Help</a>
    <a href="" target="_blank" rel="noreferrer">Resources</a>
    <a href="https://github.com/nwisnie/Rowlytics" target="_blank" rel="noreferrer">GitHub</a>
  </div>
</footer>
