{% extends "base.html" %}

{% block title %}Erglytics{% endblock %}
{% block body_class %}landing{% endblock %}

{% block content %}
<main class="landing">
  <section class="landing__hero">
    <img
      class="landing__logo"
      src="{{ 'images/erg_cool.png' | cloudfront_url }}"
      alt="Erglytics logo"
    />

    <h1 class="landing__wordmark">Erg-lytics</h1>

    <div class="landing__actions">
      <a class="btn btn--dark landing__btn" href="{{ login_url }}">Login</a>
      <a class="btn btn--dark landing__btn" href="{{ login_url }}">Create Account</a>
    </div>
  </section>
</main>
{% endblock %}
