{% extends "base.html" %}

{% block title %}{{ card.title }}{% endblock %}

{% block body_class %}detail{% endblock %}

{% block content %}
<main class="page page-pad">
  <div class="container container--wide stack">
    <a class="detail__back" href="{{ url_for('public.landing_page') }}">
    Back
  </a>

  <section class="detail__card">
    <img
      src="{{ url_for('static', filename=card.image_path) }}"
      alt="{{ card.title }}"
    />

    <div>
      <h1>{{ card.title }}</h1>
      <p>{{ card.blurb }}</p>

      <br>

      <p>
        This is a cool and awesome placeholder for now
      </p>
    </div>
  </section>
  </div>
</main>
{% endblock %}
